body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.legend{
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.chart-container{
  position: fixed;
  top: 0;
  right: 0;
}

.bordered{
	fill-opacity: 0;
  border-style: solid;
  border-width: 5px;
  border-color: green;
}

#sunburst-legend{
  top: 100px;
  
}


#visualize-button {
	position: absolute;
  background: rgba(100,100,100,0);
  top:0px;
  right:10px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
}

#back-button {
	position: absolute;
  background: rgba(100,100,100,0);
  top:0px;
  right:10px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
}

#compare-button {
  position: absolute;
  background: rgba(100,100,100,0);
  top:50px;
  right:10px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
}